<main class="container fond">
  <div class="row">
    <div class="col-3">
      <form (ngSubmit)="jouer(number!)">
        <div class="money">Votre argent : <span>{{money + " $"}}</span></div><br>
        <div>Parier 5 $ sur un numéro</div>
        <input type="number" name="number" [(ngModel)]="number" class="form-control" min="0" max="35" pattern="[0-9]+"><br>
      </form>
      <div class="form">
        <button (click)="jouerCouleur('red')" class="btn btn-danger form-control">Parier 5 $ sur rouge</button><br><br>
        <button (click)="jouerCouleur('black')" class="btn btn-dark form-control">Parier 5 $ sur noir</button><br>
      </div>
      <div class="form">
        <button class="btn btn-light form-control">Français</button><br><br>
        <button class="btn btn-light form-control">English</button><br>
      </div>
    </div>
    <div class="col text-center">
      <h2>Roulette bilingue</h2>
      <div class="roulette">
        <img src="../../assets/images/ball.png" alt="Ball" id="ball" style="left:473px; top:197px;">
        <img src="../../assets/images/roulette.png" alt="Roulette" class="slot">
      </div>
      <div id="messageRoulette">Ne pas jouer si vous êtes facilement étourdi(e)</div>
    </div>
  </div>
</main>
