<main class="container fond">
  <div class="row">
    <div class="col-3">
      <form (ngSubmit)="jouer(number!)">
        <div class="money" translate>i18n.text1<span> {{money + " $"}}</span></div><br>
        <div translate>i18n.text2</div>
        <input type="number" name="number" [(ngModel)]="number" class="form-control" min="0" max="35" pattern="[0-9]+"><br>
      </form>
      <div class="form">
        <button (click)="jouerCouleur('red')" class="btn btn-danger form-control" translate>i18n.text3</button><br><br>
        <button (click)="jouerCouleur('black')" class="btn btn-dark form-control" translate>i18n.text4</button><br>
      </div>
      <div class="form">
        <button class="btn btn-light form-control" (click)="changeLanguage('fr')">Français</button><br><br>
        <button class="btn btn-light form-control"(click)="changeLanguage('en')">English</button><br>
      </div>
    </div>
    <div class="col text-center">
      <h2 translate>i18n.text5</h2>
      <div class="roulette">
        <img src="../../assets/images/ball.png" alt="Ball" id="ball" style="left:473px; top:197px;">
        <img src="../../assets/images/roulette.png" alt="Roulette" class="slot">
      </div>
      <div id="messageRoulette" translate>i18n.text6</div>
    </div>
  </div>
</main>
